| #{projectName} Email de Verificación
= '\n'
= '\n'
| Tu cuenta #{projectName} está casi lista!. Por favor visita el enlace de abajo para confirmar tu email.
= '\n'
= '\n'
| #{verifyURL}
= '\n'
= '\n'
| Nota: Si no te registraste en #{projectName}, no te preocupes. Puede ignorar este mail.
= '\n'
= '\n'
| Gracias,
| #{projectName}
