h3 #{projectName} Email de Verificación
p Tu cuenta #{projectName} está casi lista!. Por favor visita el enlace de abajo para confirmar tu email.
a(href='#{verifyURL}') #{verifyURL}
p Nota: Si no te registraste en #{projectName}, no te preocupes. Puede ignorar este mail.
p
  | Gracias,
  br
  | #{projectName}
