h3 Bienvenido a #{projectName}
p Gracias por registrarte. Tu cuenta ha sido creada. Tus datos son:
table(border='1', cellpadding='5', cellspacing='0')
  tr
    td usuario:
    td #{username}
  tr
    td Email:
    td #{email}
  tr
    td Iniciar sesión:
    td #{loginURL}
p
  | Gracias,
  br
  | #{projectName}
