| Bienvenido a #{projectName}
= '\n'
= '\n'
| Gracias por registrarte. Tu cuenta ha sido creada. Tus datos son:
= '\n'
= '\n'
| usuario: #{username}
| Email: #{email}
= '\n'
= '\n'
| Iniciar Sesión: #{loginURL}
= '\n'
= '\n'
| Gracias,
| #{projectName}
